<!DOCTYPE html>
<html lang="pt-br">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/form.css">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
</head>
<body>
    <div class="container">
        <form action="/cadastro-usuario" method="post">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
            <br><br>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha" required min="6">
            <br><br>
            <div class="button">
                <button type="submit">Logar</button>
            </div>
        </form>
        <br>
    </div>
</body>
</html>
